<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
	"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<!-- namespace：匹配的接口 -->
<mapper namespace="cn.tedu.store.mapper.BankMapper">

	<select id="get_user_bank" 
		resultType="Map">
		SELECT 
			*
		FROM 
			zpb_bind_bankcard
		WHERE UID = #{uid}
	</select>

	<select id="get_user_open_bank" 
		resultType="Map">
		SELECT 
			sub_branch_name
		FROM 
			zpb_banks
		WHERE 
			CITY like "%"#{city}"%"
		AND
			bank_name like "%"#{bank_name}"%"
	</select>
</mapper>