<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
	"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<!-- namespace：匹配的接口 -->
<mapper namespace="cn.tedu.store.mapper.BoonMapper">

	<select id="convert" 
		resultType="Map">
		SELECT 
			*
		FROM 
			zpb_coupons
		WHERE 
			status = 1 AND is_new = 0 AND is_activity = 0
		ORDER BY type desc,integral desc
	</select>
	<select id="getIntegralById" 
		resultType="Integer">
		SELECT 
			integral
		FROM 
			zpb_members
		WHERE 
			id = #{id}
	</select>

</mapper>