<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
	"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="cn.tedu.store.mapper.OrdersAppMapper">

	<!--  -->
	<!--  -->
	<select id="select"
	resultType="cn.tedu.store.entity.OrdersApp">
	SELECT id,user_id,order_no  FROM zpb_user_tz;
	</select>
</mapper>







