<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
	"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="cn.tedu.store.mapper.ProvinceMapper">

	<!-- 获取所有省的列表 -->
	<!-- List<Province> getProvinceList() -->
	<select id="getProvinceList"
		resultType="cn.tedu.store.entity.Province">
		SELECT 
			id,
			province_code AS code,
			province_name AS name 
		FROM t_dict_provinces
	</select>
	
	<!-- 根据省的代号，获取省的信息 -->
	<!-- Province getProvinceByCode(String provinceCode) -->
	<select id="getProvinceByCode"
		resultType="cn.tedu.store.entity.Province">
		SELECT 
			id,
			province_code AS code,
			province_name AS name 
		FROM 
			t_dict_provinces
		WHERE 
			province_code=#{provinceCode}
	</select>

</mapper>